* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
  --randomColor: #000000;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard {
  width: 70vw;
  height: 20vw;
  border: 2px solid black;
  position: relative;
}

.w-keys{
  width: 100%;
  height: 100%;
  background-color: snow;
  display: flex;

  &__key{
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 2%;
    box-sizing: border-box;
    font-weight: 800;
    transition: all .2s ease;

    &--playing{
      box-shadow: inset 5px -2px 5px rgba($color: #000000, $alpha: 0.25);
      color: var(--randomColor);
      font-size: 1.25rem;
    }

    &:hover{
      cursor: pointer;
      color: var(--randomColor);
      font-size: 1.25rem;
    }
  }
}

.b-keys{
  width: 90%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 5%;
  display: flex;
  justify-content: space-between;

  &__de{
    width: 40%;
    height: 100%;
    display: flex;
    margin: 0 5%;

    &:first-child{
      margin-left:0;
      & div:first-child{
        margin-left: 0;
      }
    } 
  }
  
  &__gab{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 5%;

    & div:first-child{
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
      & div:last-child{
        margin-right: 0;
      }
    } 
  }

  &__key{
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 3px 0px 3px rgba($color: #000000, $alpha: 0.3), 1px 2px 2px rgba($color: #000000, $alpha: 0.3);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 5%;
    box-sizing: border-box;
    color: whitesmoke;
    font-weight: 800;
    transition: all .2s ease;

    &--playing{
      box-shadow: none;
      transition: box-shadow .2s ease;
      color: var(--randomColor);
      font-size: 1.25rem;
    }

    &:hover{
      cursor: pointer;
      color: var(--randomColor);
      font-size: 1.25rem;
    }
  }
}